<ion-header no-border>
  <ion-navbar>
    <ion-title></ion-title>
  </ion-navbar>
</ion-header>

<ion-content noPadding>
  <div class="button-container">
    <button (click)="report()" large ion-button icon-left round>
      <ion-icon name="add"></ion-icon> Reportar
    </button>
  </div>
  <div #map id="map"></div>
  <!-- <ion-grid>
    <ion-row>
      <ion-col col-md-4 offset-md-4>
        <button ion-button (click)="selectPictureFromGallery()">Seleccionar Foto</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-md-4 offset-md-4>
        <button ion-button (click)="takePictureWithCamera()">Tomar Foto</button>
      </ion-col>
    </ion-row>
    <p *ngIf="loading">
      Procesando imagen...
    </p>
    <p *ngIf="!loading">
      <img *ngIf="this.image !==''" [src]="this.image">
      <a href="{{this.url}}">
        {{this.url}}
      </a>
    </p>
    <button [disabled]="!this.image" ion-button (click)="sendPhoto()">
      Subir Imagen
    </button>
  </ion-grid> -->
</ion-content>
